@import './styles/colors.scss';

body {
  font-family: Roboto;
  background-color: $background;
  color: $text;
}

h1 {
  transition: 2s ease-in-out;
  transform-origin: left;
  scale: 1;
  &:hover {
    rotate: 360;
    transform: scale(2);
  }
}